*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.container{
    display:flex;
    flex-direction: column;
    border:3px solid white;
    padding: 15px;
    border-radius: 10px;
    background-color: grey;
    width: 200px;
    height: 180px;
    margin: auto;
    text-align: center;
    gap: 20px;
    
}
.toggle-button{
    padding:7px 15px;
    font-size: large;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
}
.toggle-text{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .toggle-text {
        font-size: 1.5rem;
    }

    .toggle-button {
        width: 100%;
        padding: 12px;
    }
}
